
ul.MenuBarVertical
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	cursor: default;
	width: 170px;
}
ul.MenuBarVertical li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 170px;
}
ul.MenuBarVertical ul
{
	margin: -5% 0 0 95%;
	padding: 0;
	list-style-type: none;
	position: absolute;
	z-index: 1020;
	cursor: default;
	width: auto;
	left: -1000em;
	top: 0;
}
ul.MenuBarVertical ul.MenuBarSubmenuVisible
{
	left: 0;
}
ul.MenuBarVertical ul li
{
	width: 100px;
}
ul.MenuBarVertical
{
	border: 1px solid #CCC;
}
ul.MenuBarVertical a
{
	display: block;
	cursor: pointer;
	background-color: #fff9f9;
	padding: 0.5em 0.9em;
	color: #000000;
	text-decoration: none;
}
ul.MenuBarVertical a.MenuBarItemHover, ul.MenuBarVertical a.MenuBarItemSubmenuHover, ul.MenuBarVertical a.MenuBarSubmenuVisible
{
	background-color: #ff8282;
	color: #FFF;
}
ul.MenuBarVertical a.MenuBarItemSubmenu
{
	background-image: url(SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
@media screen, projection
{}
