.Katalog{width:790px;height:auto;background-color:#fff9f9;border:1px solid #000;margin-top:5px}
.KatalogHeader{width:790px;height:20px;background-color:#ff8282;margin-top:20px;text-align:center;color:White;font-size:medium;font-weight:bold}
.Tabloresim{width:150px;height:150px;vertical-align:middle;border-left:1px solid #000}
.TabloYazi{width:150px;height:20px;font-size:medium}
.Katalogresim{width:150px;height:150px}